{% extends 'member/mypage/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'member/css/mypage/my_settings/password-update.css' %}">
{% endblock %}
{% block title %}Selleaf | 비밀번호 변경{% endblock %}
{% block content %}
    <form action="{% url 'member:password-update' %}" method="post" enctype="multipart/form-data" >
      {% csrf_token %}  
        <div class="whole-page-wrap">
          <div class="whole-page-container">
            <!-- 나중에 메인 페이지에서 작업하면 추가 -->
            <header style="height: 80.75px"></header>
            <div class="main-wrap">
              <!-- 마이페이지 내 네비게이션 바 -->
              <div class="navigation-wrap">
                <div class="main-category-wrap">
                  <ul
                    class="main-category-container"
                    style="transform: translateX(0px)"
                  >
                    <li class="main-category-item">
                      <a href="#">내 활동</a>
                    </li>
                    <li class="main-category-item">
                      <a href="#">거래 내역</a>
                    </li>
                    <li class="main-category-item">
                      <a href="#">수강 내역</a>
                    </li>
                    <li class="main-category-item teacher">
                      <a href="#">강의 현황</a>
                    </li>
                    <li class="main-category-item">
                      <a href="#" class="active">설정</a>
                    </li>
                  </ul>
                </div>
                <div class="sub-category-wrap">
                  <ul
                    class="sub-category-container"
                    style="transform: translateX(0px)"
                  >
                    <li class="sub-category-item">
                      <a href="#">회원정보수정</a>
                    </li>
                    <li class="sub-category-item">
                      <a href="#">알림 설정</a>
                    </li>
                    <li class="sub-category-item">
                      <a href="#" class="active">비밀번호 변경</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- 알림 설정 페이지 내용 -->
              <div class="password-update-page-wrap">
                <h1 class="password-update-title">비밀번호 변경</h1>
                <form>
                  <div class="password-update-section">
                    <div class="section-title">새 비밀번호</div>
                    <div class="section-sub-title">
                      영문과 숫자를 포함한 8자리 이상의 비밀번호를 입력해주세요.
                    </div>
                    <div class="password-input-wrap">
                      <input type="password" class="password-input new-password" name="password"/>
                      <div class="password-error-text" style="display: none"></div>
                    </div>
                  </div>
                  <div class="password-update-section">
                    <div class="section-title">새 비밀번호 확인</div>
                    <div class="password-input-wrap">
                      <input
                        type="password"
                        name="password-confirm"
                        class="password-input password-confirm"
                      />
                      <div class="confirm-error-text" style="display: none">
                        <img alt=""
                          src="{% static 'member/images/settings/error-icon.svg' %}"
                          class="error-icon"
                        />
                        비밀번호가 일치하지 않습니다.
                      </div>
                    </div>
                  </div>
                  <button type="button" class="update-submit-button">
                    비밀번호 변경
                  </button>
                </form>
              </div>
            </div>
            <!-- 나중에 메인 페이지에서 작업하면 추가 -->
            <footer style="height: 320px"></footer>
          </div>
        </div>
    </form>
{% endblock %}
{% block js %}
  <script src="\{% static 'member/js/mypage/my_settings/password-update.js' %}"></script>
{% endblock %}
