{% extends 'alarm/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'alarm/css/notification/notification.css' %}">
{% endblock %}
{% block title %}알림{% endblock %}
{% block content %}
    <div class="layout">
      <header></header>
      <div class="notice-container">
        <h1 class="notice-tit">내 소식</h1>
        <div class="notice-wrap">
          <!--  -->
          <section class="here">
          </section>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'alarm/js/alarm-module.js' %}"></script>
    <script src="{% static 'alarm/js/alarm.js' %}"></script>
{% endblock %}
