{% extends 'alarm/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'alarm/css/notification/notification.css' %}">
{% endblock %}
{% block title %}알림{% endblock %}
{% block content %}
    <div class="layout">
      <header></header>
      <div class="notice-container">
        <h1 class="notice-tit">내 소식</h1>
        <div class="notice-wrap">
          <!--  -->
          <section>
            <!-- 한 칸 시작 -->
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 사진을 스크랩했어요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <!-- 한칸 끝 -->
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 강의를 신청했어요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 강의 리뷰를 등록했어요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 게시물을 좋아해요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 댓글을 좋아해요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-img" />
                </a>
              </div>
            </div>
            <div>
              <div class="notice-contents">
                <a href="" class="notice-profile-box">
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>닉네임</strong>
                      님이 내 강의 리뷰를 좋아해요.
                    </span>
                    <span class="last-time">9분</span>
                  </div>
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-img" />
                </a>
              </div>
            </div>

            <div>
              <div class="notice-contents-effect">
                <a href="" class="notice-profile-box">
                  <img src="{% static 'public/web/images/common/blank-image.png' %}" alt="" class="notice-profile" />
                </a>
                <a href="" class="notice-content-box">
                  <div class="inner-txt-wrap">
                    <span class="inner-txt">
                      <strong>백시현</strong>
                      님이 잘생겼어요.
                    </span>
                    <span class="last-time">방금 전</span>
                  </div>
                  <!-- <img src="/staticfiles/images/blank-image.png" alt="" class="notice-img" /> -->
                </a>
              </div>
            </div>
            <!--  -->
          </section>
        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}
