{% extends 'lecture/web/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'lecture/css/lecture/web/lecture.css' %}">
{% endblock %}
{% block title %}강의 홈{% endblock %}
{% block content %}
  <body>
    {% include 'fix/header.html' %}
    <div class="layout">
      <!-- 거래 카테고리 탭 -->
      <div class="category-wrap-" style="height: 52px">
        <div
          class="category-container"
          style="
            position: fixed;
            z-index: 1101;
            transition: top 0.1s ease 0s;
            top: auto;
            width: 100%;
          "
        >
          <div class="category-inner">
            <div class="category-button-space">
              <nav class="category-button-collection">
                <span class="category-button">
                  <div class="button-space">
                    <a href="/lecture/main/" class="button-link-click">
                      <div class="button">
                        <p class="button-letter-click">강의홈</p>
                      </div>
                    </a>
                  </div>
                </span>
                <span class="category-button">
                  <div class="button-space">
                    <a
                      href="/lecture/total/"
                      class="button-link-unclick"
                    >
                      <div class="button">
                        <p class="button-letter-unclick">원데이클래스</p>
                      </div>
                    </a>
                  </div>
                </span>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <!-- 스크랩 팝업 -->
      <div class="scrap-popup-wrap">
        <div class="scrap-popup-container">
          <div class="scrap-popup-inner">
            <div class="scrap-popup-text">스크랩 했습니다.</div>
          </div>
          <div class="scrap-popup-button-container">
            <!-- 스크랩북 링크삽입 -->
            <button class="scrap-link-button" type="button">
              스크랩북 보기
            </button>
            <button class="scrap-link-button" type="button">폴더에 담기</button>
          </div>
        </div>
      </div>
      <div class="scrap-popup-cancel-wrap">
        <div class="scrap-popup-container">
          <div class="scrap-popup-inner">
            <div class="scrap-popup-text">스크랩을 취소하였습니다.</div>
          </div>
        </div>
      </div>
      <!-- 거래 메인 탭 -->
      <div class="transaction-main-page">
        <section class="popular-wrap wrap-media">
          <header class="popular-header">
            <h1 class="popular-title">{{ member_address.address_city }} {{ member_address.address_district }} 에서 강의 중인 강의</h1>
          </header>
          <div class="post-wrap row-media">
{#            {% if lectures %}#}
{#              {% for lecture in lectures %}#}
{#                <div class="post-container {{ lecture.id }}">#}
{#                  <div class="post-inner">#}
{#                    <article class="post">#}
{#                      <a href="/lecture/detail/offline/?id={{ lecture.id }}" class="post-link"></a>#}
{#                      <div class="post-image-wrap_">#}
{#                        <div class="post-image-container">#}
{#                          <div class="post-image-inner">#}
{#                            <div class="post-image"></div>#}
{#                            <img#}
{#                              src="/upload/{{ lecture.lecture_file }}"#}
{#                              alt#}
{#                              class="image"#}
{#                            />#}
{#                            <button class="scrap-button" type="button">#}
{#                              <img#}
{#                                src="{% if lecture.lecture_scrap %}{% static 'public/web/images/common/scrap-on.png' %}{% else %}{% static 'public/web/images/common/scrap-off.png' %}{% endif %}"#}
{#                                alt#}
{#                                class="scrap-off"#}
{#                              />#}
{#                            </button>#}
{#                            <div class="image__dark-overlay"></div>#}
{#                          </div>#}
{#                        </div>#}
{#                      </div>#}
{#                      <div class="post-contents-wrap">#}
{#                        <div class="post-contents-container">#}
{#                          <h1 class="post-contents-header">#}
{#                            <span class="post-contents-user">{{ lecture.member_name }}</span>#}
{#                            <span class="post-contents-banner">{{ lecture.lecture_title }}</span>#}
{#                          </h1>#}
{#                          <span class="post-price">#}
{#                            <span class="post-price-letter">{{ lecture.lecture_price }}원</span>#}
{#                          </span>#}
{#                          <span class="post-tag">#}
{#                             {% for plant_name in lecture.plant_name %}#}
{#                                <span class="post-tag-icon">#{{ plant_name }}</span>#}
{#                             {% endfor %}#}
{#                          </span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </article>#}
{#                  </div>#}
{#                </div>#}
{#              {% endfor %}#}
{#            {% else %}#}
{#                <div class="no-result-message-box"><span>검색 결과가 없습니다.</span></div>#}
{#            {% endif %}#}
          </div>
        </section>
      </div>
    </div>
  {% include 'fix/footer.html' %}
  </body>
{% endblock %}
{% block js %}
<script>
    const csrf_token = '{{ csrf_token }}'
</script>
  <script src="{% static 'lecture/js/lecture/web/lecture-module.js' %}"></script>  
  <script src="{% static 'lecture/js/lecture/web/lecture-main.js' %}"></script>
{% endblock %}

