{% extends 'manager/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'public/web/css/manager/nothing/nothing.css' %}">
{% endblock %}
{% block title %}태그 관리{% endblock %}
{% block content %}
  <body class="overflow-hidden">
    <div class="next">
      <div class="full-screen">
        {% include 'manager/fix/manager-header.html' %}
        <div class="under-container">
          {% include 'manager/fix/manager-sidebar.html' %}
          <div class="content-wap">
            <div class="content-container">
              <div class="content-inner">
                <div class="content-box">
                  <div class="header">
                    <h1 class="header-name">태그 관리</h1>
                  </div>
                  <div class="header-function-container">
                    <ul class="header-function-inner">
                      <li class="header-relative">
                        <button
                          class="lecture-info"
                          aria-label="tab button"
                          type="button"
                          id="btn"
                        >
                          <div class="flex">
                            <p class="lecture-info">태그정보</p>
                            <div class="lecture-info-num">
                              <p class="lecture-info-num">0</p>
                            </div>
                          </div>
                        </button>
                        <div class="lecture-underbar" id="under"></div>
                      </li>
                    </ul>
                  </div>
                  <div class="all-list">
                    <div>
                      <span class="all-name">전체</span>
                      <span class="all-num">0</span>
                    </div>
                    <div class="search-bar">
                      <label class="search-bar">
                        <input
                          class="search-bar"
                          placeholder="태그 검색"
                          type="text"
                          value
                        />
                        <button
                          aria-label="search button"
                          class="search-bar"
                          type="button"
                        >
                          <img
                            class="search-logo"
                            src="{% static 'public/web/images/common/search_icon.png' %}"
                          />
                          <img
                            class="cancel-logo"
                            src="{% static 'public/web/images/common/cancel.png' %}"
                          />
                        </button>
                      </label>
                    </div>
                  </div>
                </div>
                <!-- 해당 내역이 없습니다. -->
                <ul class="nothing-wrap">
                  <div class="nothing">
                    <img
                      src="{% static 'public/web/images/manager/nothing.png' %}"
                      class="nothing"
                    />
                    <p class="nothing">해당 내역이 없습니다.</p>
                  </div>
                </ul>
                <!-- 해당 내역이 없습니다. -->
                <div class="page-count-wrap">
                  <ul class="page flex">
                    <li>
                      <button
                        class="page-count"
                        aria-label="page turning button"
                        disabled
                        type="button"
                      >
                        <svg
                          class="page-count"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M15.58 3.27c.504.405.563 1.115.13 1.587L9.168 12l6.543 7.143a1.076 1.076 0 0 1-.13 1.586 1.26 1.26 0 0 1-1.695-.122L6 12l7.885-8.607a1.26 1.26 0 0 1 1.695-.122Z"
                          ></path>
                        </svg>
                      </button>
                    </li>
                    <li class="page-count">
                      <button
                        class="page-count-num page-count-num-choice"
                        aria-label="page number button"
                        type="button"
                      >
                        <span class="page-count-num">1</span>
                      </button>
                    </li>
                    <li class="page-count">
                      <button
                        class="page-count-num"
                        aria-label="page number button"
                        type="button"
                      >
                        <span class="page-count-num">2</span>
                      </button>
                    </li>
                    <li class="page-count">
                      <button
                        class="page-count"
                        aria-label="page turning button"
                        disabled
                        type="button"
                      >
                        <svg
                          class="page-count"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M8.42 20.73a1.076 1.076 0 0 1-.13-1.587L14.832 12 8.289 4.857a1.076 1.076 0 0 1 .13-1.586 1.26 1.26 0 0 1 1.696.122L18 12l-7.885 8.607a1.26 1.26 0 0 1-1.695.122Z"
                          ></path>
                        </svg>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
{% block js %}
  <script src="{% static 'public/web/js/manager/nothing/nothing.js' %}"></script>
{% endblock %}
