{% load static %}
<link rel="stylesheet" href="{% static 'public/web/css/manager/fix/manager-header.css' %}">
<nav class="benner-wrap">
  <div>
    <div class="items-center">
      <a href="/service-admin/member/">
        <img
          class="logo-img"
          src="{% static 'public/web/images/common/logo-lettering-blk.png' %}"
          alt=""
        />
      </a>
      <div class="logo-between">|</div>
      <div class="manager-center">
        <span>Manager Center</span>
      </div>
    </div>
  </div>
</nav>