{% load static %}
<link rel="stylesheet" href="{% static 'public/web/css/fix/footer.css' %}" />
<footer class="footer-wrap">
  <div class="footer-content">
    <div class="footer-content-first">
      <div class="footer-content-first-firstcontent">
        <a href="" class="footer-content-first-firstcontentA">고객센터</a>
        <span class="footer-content-first-firstcontentSpan"></span>
      </div>
      <div class="footer-content-first-secondcontent">
        <a href="#" class="footer-content-first-secondcontentA">1234-1234</a>
        <time datetime="09:00" class="footer-content-first-secondcontentTime">
          09:00
        </time>
        ~
        <time datetime="18:00" class="footer-content-first-secondcontentTime">
          18:00
        </time>
      </div>
      <div class="footer-content-first-thirdcontent">
        <div class="footer-content-div">평일: 전체 문의 상담</div>
        <div class="footer-content-div">토요일, 공휴일: selleaf</div>
        <div class="footer-content-div">일요일: 휴무</div>
      </div>
      <div class="footer-content-first-fourthcontent">
        <button class="footer-content-first-fourthcontentBtn">
          <a href="https://open.kakao.com/o/gBQBLk0f">
            카톡 상담(평일 09:00~18:00)
          </a>
        </button>
      </div>
    </div>
    <div class="footer-content-line"></div>
    <div class="footer-content-second">
      <a href="javascript:void(0)" class="footer-content-secondA" target="_self">
          회사 소개
      </a>
      <a href="javascript:void(0)" class="footer-content-secondA" target="_self">
          이용약관
      </a>
      <a href="javascript:void(0)" class="footer-content-secondimportantA" target="_self">
          개인정보 처리방침
      </a>
      <a href="/notice/web/" class="footer-content-secondA" target="_self">
          공지사항
      </a>
      <a href="/teacher/entry/" class="footer-content-secondA" target="_self">
          강사신청
      </a>
    </div>
    <div class="footer-content-line"></div>
    <div class="footer-content-third">
      <div class="footer-content-third-firstcontent">
        <div class="footer-content-third-firstcontentDiv">
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            (주)Selleaf
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            팀장 조은종
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            부팀장 김광협
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            팀원 백시현
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            팀원 강희주
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            팀원 김수빈
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            팀원 김규일
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            파견 서경덕
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            <a href="#">selleaf@google.com</a>
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            <span>사업자등록번호 111-11-11111</span>
            <a
              target="_blank"
              href="#"
              rel="noreferrer"
              class="footer-content-third-firstcontentSA"
            >
                사업자정보확인
            </a>
          </div>
          <div class="footer-content-third-firstcontentDivD">
            <span class="footer-content-third-firstcontentSpan">|</span>
            <span>통신판매업신고번호 제0000-셀리프-0000호</span>
          </div>
        </div>
      </div>
      <div>
        <span
          >고객님이 현금결제한 금액에 대해 00은행과 채무지급보증 계약을
          체결하여 안전거래를 보장하고 있습니다.</span>
        <a
          target="_blank"
          href="#"
          rel="noreferrer"
          class="footer-content-third-firstcontentSA"
        >서비스가입사실확인
        </a>
      </div>
      <div class="footer-content-third-secondcontent">
        <!-- 이 밑에 footer-content-third-secondcontentDiv 얘를 지우면 프리티어 오류가 안남 -->
        <div class="footer-content-third-secondcontentDiv">
          <img
            src="{% static 'public/web/images/common/selleaf.png' %}"
            width="32"
            height="32"
            alt="selleaf로고"
            class="footer-content-third-img"
          />
          <div class="footer-content-third-secondcontentDivD">
            <span>Selleaf 서비스 운영</span>
            <br />
            2024. 00. 00 ~ 2024. 00. 00
          </div>
        </div>
        <div class="footer-content-third-secondcontentDiv">
          <img
            src="https://assets.ohou.se/design-system/d5fb816a58bb6a06.png"
            width="32"
            height="32"
            alt="selleaf로고"
            class="footer-content-third-img"
          />
        </div>
        <div class="footer-content-third-secondcontentDiv">
          <a href="#" target="_blank" rel="noreferrer">
              <img
              src="https://assets.ohou.se/design-system/ad1cf869a6c58058.png"
              width="32"
              height="32"
              alt="selleaf로고"
              class="footer-content-third-img"
              />
          </a>
        </div>
      </div>
      <div>
        (주)Selleaf는 통신판매중개자로 거래 당사자가 아니므로, 판매자가
        등록한 상품정보 및 거래 등에 대해 책임을 지지 않습니다. 단,
        (주)Selleaf가 판매자로 등록 판매한 상품은 판매자로서 책임을
        부담합니다.
      </div>
      <p>Copyright 2024. Selleaf, Co., Ltd. All rights reserved.</p>
    </div>
  </div>
</footer>