{% load static %}
<link rel="stylesheet" href="{% static 'public/web/css/fix/header.css' %}"/>
<header>
  <div class="header-wrap" style="height: 81px">
    <div
        class="header-second-wrap"
        style="
        position: fixed;
        transition: top 0.1s ease 0s;
        z-index: 1102;
        top: 0px;
        width: 1903px;
      "
    >
      <div class="hearder-container">
        <!-- header-second-container가 아니라 원래는 header-first-inner로 했어야함 -->
        <div class="header-second-container">
          <button type="button" class="hearder-second-container-button">
            <span class="hearder-span"></span>
          </button>
        </div>
        <div class="header-second-inner">
          <a
              class="hearder-second-inner-logo"
              aria-label="selleaf 로고"
              href="#"
          >
            <img
                class="header-second-inner-svg"
                src="{% static 'public/web/images/common/logo-lettering-blk.png' %}"
                width="74"
                height="30"
            />
            <!-- <svg
              class="header-second-inner-svg"
              xmlns="http://www.w3.org/2000/svg"
              width="74"
              height="30"
              fill="none"
              viewBox="0 0 74 30"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M14.2 25.17H9.28V20.7a1.45 1.45 0 00-2.9 0v4.47H1.44a1.45 1.45 0 100 2.9H14.2a1.45 1.45 0 000-2.9zM4.5 9.15c0-4.6 2.08-5.28 3.33-5.28 1.24 0 3.33.69 3.33 5.28v.36c0 4.6-2.09 5.28-3.33 5.28-1.25 0-3.34-.69-3.34-5.28v-.36zm3.33 8.54c3.84 0 6.23-3.13 6.23-8.18v-.36c0-5.05-2.39-8.18-6.23-8.18-3.85 0-6.24 3.13-6.24 8.18v.36c0 5.05 2.39 8.18 6.24 8.18zM33.37 10.35H17.81a1.45 1.45 0 000 2.9h15.56a1.45 1.45 0 100-2.9zM31.82 25.84c-7.08 1.84-9.45.8-10.14.26-.45-.35-.65-.8-.65-1.48v-.87h10.25c.8 0 1.46-.65 1.46-1.45v-5.08c0-.8-.65-1.45-1.46-1.45h-11.7a1.45 1.45 0 100 2.9h10.25v2.18H19.57c-.8 0-1.45.65-1.45 1.45v2.32a4.6 4.6 0 001.78 3.78c1.2.92 2.94 1.39 5.21 1.39 2.05 0 4.54-.38 7.44-1.13a1.45 1.45 0 10-.73-2.82zM20.3 7.83h10.82a1.45 1.45 0 100-2.9h-9.36V1.44a1.45 1.45 0 10-2.9 0v4.93c0 .8.65 1.45 1.45 1.45z"
                clip-rule="evenodd"
              ></path>
              <rect
                width="3"
                height="15"
                x="70"
                fill="currentColor"
                rx="1.5"
              ></rect>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M64.5 13.28a1.45 1.45 0 002.73-1c-.05-.13-1-2.68-3.38-4.5l3.7-4.1a1.45 1.45 0 00-1.09-2.42h-9.05a1.45 1.45 0 100 2.9h5.8l-6.88 7.64a1.45 1.45 0 102.16 1.95l3.41-3.8a8.02 8.02 0 012.6 3.33zM69.56 26.52h-7.01a.82.82 0 01-.82-.82v-1.95h8.65v1.95c0 .45-.37.82-.82.82zm2.27-9.37c-.8 0-1.45.65-1.45 1.45v2.25h-8.65V18.6a1.45 1.45 0 10-2.9 0v7.1a3.72 3.72 0 003.72 3.72h7.01a3.72 3.72 0 003.72-3.72v-7.1c0-.8-.65-1.45-1.45-1.45zM42.46 3.87c2.22 0 2.33 4.24 2.33 5.08 0 .85-.11 5.09-2.33 5.09-2.21 0-2.32-4.24-2.32-5.09 0-.84.11-5.08 2.32-5.08zm0 13.07c1.76 0 3.23-.93 4.14-2.62.71-1.34 1.1-3.2 1.1-5.37 0-2.16-.39-4.02-1.1-5.36A4.59 4.59 0 0042.46.97c-1.75 0-3.22.93-4.13 2.62-.72 1.34-1.1 3.2-1.1 5.36 0 2.17.38 4.03 1.1 5.37a4.59 4.59 0 004.13 2.62z"
                clip-rule="evenodd"
              ></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M51.4.49c-.8 0-1.45.65-1.45 1.45v17.78c-1.93.6-5.75 1.12-10.38 1.12h-2.2a1.45 1.45 0 000 2.91h2.2c2.64 0 7.21-.23 10.38-1.02v4.84a1.45 1.45 0 002.9 0V1.94c0-.8-.65-1.45-1.45-1.45z"
                clip-rule="evenodd"
              ></path>
            </svg> -->
          </a>
        </div>
        <div class="header-third-inner">
          <a class="header-third-inner-firsta" href="#"
          ><span class="header-third-inner-firstsp">커뮤니티</span>
          </a>
          <a class="header-third-inner-seconda" href="#"
          ><span class="header-third-inner-secondsp">수강</span></a
          >
          <a class="header-third-inner-seconda" href="#"
          ><span class="header-third-inner-secondsp">거래</span></a
          >
          <a class="header-third-inner-seconda" href="#"
          ><span class="header-third-inner-secondsp"
          >회사소개</span
          ></a
          >
        </div>
        <div class="header-fourth-inner">
          <div class="header-fourth-second-inner">
            <div class="header-fourth-inner-firstdiv">
              <div
                  id="global-search-combobox"
                  role="combobox"
                  aria-expanded="false"
                  aria-haspopup="listbox"
                  class="header-fourth-inner-seconddiv"
              >
                <div class="header-fourth-inner-thirddiv">
                  <span class="hearder-inner-thirddiv-span"> </span>
                  <form action="{% url  'search' %}" name="search-form" style="flex:1; position: relative">
                    <input
                        type="text"
                        placeholder="통합검색"
                        autocomplete="off"
                        aria-autocomplete="list"
                        class="hearder-inner-thirddiv-input"
                        name="query"
                    />

                  </form>
                  <div class="hearder-inner-thirddiv-div">
                    <button
                        type="button"
                        tabindex="0"
                        class="header-input-xbutton"
                    >
                      <span class="header-input-xbutton-span"></span>
                    </button>
                  </div>
                </div>
                <div class="recent-searches-box">
                  <div class="recent-searches-title-box">
                    <span class="recent-searches-title">최근 검색어</span>
                    <button type="button" class="recent-searches-all-delete">전체 삭제</button>
                  </div>
                  <ul class="recent-searches-list">
                  </ul>
                </div>
                <div class="related-search-box">
                  <ul class="related-search-list">
                    <li role="option" tabindex="0" class="related-search-item">
                      <div class="related-search-item-inner">
                        <span class="related-search-icon"></span>
                        <div class="related-search-text">
                          다육이
                        </div>
                      </div>
                    </li>
                    <li role="option" tabindex="0" class="related-search-item">
                      <div class="related-search-item-inner">
                        <span class="related-search-icon"></span>
                        <div class="related-search-text">
                          다육이
                        </div>
                      </div>
                    </li>
                    <li role="option" tabindex="0" class="related-search-item">
                      <div class="related-search-item-inner">
                        <span class="related-search-icon"></span>
                        <div class="related-search-text">
                          다육이
                        </div>
                      </div>
                    </li>
                    <li role="option" tabindex="0" class="related-search-item">
                      <div class="related-search-item-inner">
                        <span class="related-search-icon"></span>
                        <div class="related-search-text">
                          다육이
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="header-fourth-inner-seconddiv">
              <button type="button" class="hearder-fourth-inner-button">
                <span class="hearder-fourth-inner-span"></span>
              </button>
            </div>
            <!-- 스크랩북 아이콘 일단 숨겨놓음 -->
            <div class="header-scrap">
              <a
                  aria-label="스크랩북 페이지 링크 버튼"
                  class="header-scrap-a"
                  href="#"
              >
                <span class="header-scrap-span"></span>
              </a>
            </div>
            <!-- 알림 아이콘 일단 숨겨놓음 -->
            <!-- <div class="header-alarm">
              <a
                aria-lable="내소식 페이지 링크 버튼"
                class="header-alarm-a"
                href="#"
              >
                <span class="header-alarm-span"></span>
              </a>
            </div> -->
            <a
                aria-label="장바구니 페이지 링크 버튼"
                class="header-cart"
                href="#"
            >
              <span class="header-cart-span"></span>
            </a>
            <div class="header-info-wrap">
              <div class="header-info">
                <!-- 프로필 아이콘 일단 숨겨놓음 -->
                {% if request.session.member %}
                  <span class="header-kakao-wrap">
                    <span class="header-alarm-pointer"></span>
                    <button
                        type="button"
                        aria-label="프로필 메뉴"
                        class="header-kakao-button"
                    >
                        {% if memberProfile %}
                          {% if 'http' in memberProfile %}
                            <img src="{{ memberProfile }}" alt="" class="current-profile-image">
                          {% else %}
                            <img src="/upload/{{ memberProfile }}" alt="" class="current-profile-image">
                          {% endif %}
                        {% else %}
                          <img src="{% static 'member/images/mypage/base-profile-image.avif' %}" alt=""
                               class="current-profile-image">
                        {% endif %}
                      {#                        <img#}
{#                          alt="프로필 사진"#}
{#                          class="header-kakao-image"#}
{#                          src="{{memberProfile}}"#}
{#                        />#}
                    </button>
                  </span>
                  <div
                      class="header-mymenumodal-wrap"
                      style="
                      position: absolute;
                      inset: 0px auto auto 0px;
                      transform: translate(945px, 58px);
                    "
                      data-popper-reference-hidden="false"
                      data-popper-escaped="false"
                      data-popper-placement="bottom"
                  >
                    <div class="header-mymenumodal-content">
                      <div class="header-mymenumodal-contentDiv">
                        <a class="header-mymenumodal-contenta" href="/member/mypage/show/"
                        >마이페이지
                          <svg
                              class="header-mymenumodal-contentNew"
                              fill="#DB4455"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 18 18"
                              width="18"
                              height="18"
                          >
                            <path
                                d="M0 9a9 9 0 1118 0A9 9 0 010 9z"
                                fill="#fff"
                            ></path>
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M9 18A9 9 0 109 0a9 9 0 000 18zm-1.7-5.25H5.26v-7.5h2.61l2.8 4.2h.03v-4.2h2.06v7.5h-2.3L7.36 8.07h-.05v4.68z"
                                fill="#DB4455"
                            ></path>
                          </svg>
                        </a>
                        <a class="header-mymenumodal-contenta"
                        >알림
                          <svg
                              class="header-mymenumodal-contentNew"
                              fill="#DB4455"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 18 18"
                              width="18"
                              height="18"
                          >
                            <path
                                d="M0 9a9 9 0 1118 0A9 9 0 010 9z"
                                fill="#fff"
                            ></path>
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M9 18A9 9 0 109 0a9 9 0 000 18zm-1.7-5.25H5.26v-7.5h2.61l2.8 4.2h.03v-4.2h2.06v7.5h-2.3L7.36 8.07h-.05v4.68z"
                                fill="#DB4455"
                            ></path>
                          </svg>
                        </a>
                        <a class="header-mymenumodal-contenta"
                        >강사신청</a
                        >
                        <a class="header-mymenumodal-contenta"
                        >고객센터</a
                        >
                        <a class="header-mymenumodal-contenta" href="/accounts/logout"
                        >로그아웃</a
                        >
                      </div>
                    </div>
                  </div>
                {% else %}
                  <a class="header-info-each" href="#">로그인</a>
                  <a class="header-info-each" href="#">회원가입</a>
                  <a class="header-info-each" href="#">고객센터</a>
                {% endif %}
              </div>
              <span class="header-write-wrap">
                <button type="button" class="header-write-button">
                  <span class="header-write-content">글쓰기</span>
                  <span class="header-write-icon"></span>
                </button>
              </span>
              <div
                  class="header-post-wrap"
                  style="
                  position: absolute;
                  inset: 0px auto auto 0px;
                  transform: translate(987px, 70px);
                "
                  data-popper-reference-hidden="false"
                  data-popper-escaped="false"
                  data-popper-placement="bottom"
              >
                <div class="header-wrap-content">
                  <a class="header-content-photo" href="#">
                    <div class="header-photo-div">
                      <img
                          src="{% static 'main/images/transationPost.png' %}"
                          width="36"
                          height="36"
                      />
                      <!-- <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                        fill="none"
                      >
                        <rect
                          width="27"
                          height="29"
                          x="6.54"
                          y="3.59"
                          fill="#DBDBDB"
                          stroke="#000"
                          stroke-linejoin="round"
                          rx="2.5"
                          transform="rotate(4 6.54 3.6)"
                        ></rect>
                        <rect
                          width="27"
                          height="29"
                          x="2.5"
                          y="1.5"
                          fill="#fff"
                          stroke="#000"
                          stroke-linejoin="round"
                          rx="2.5"
                        ></rect>
                        <rect
                          width="22"
                          height="22"
                          x="5"
                          y="4"
                          fill="#FFE2C7"
                          rx="1"
                        ></rect>
                        <path
                          fill="#fff"
                          fill-rule="evenodd"
                          d="m14 7 5 .45v3.5l-5-.45V7zm0 4.5V15l5 .45v-3.5l-5-.45zm6 .55v3.5l5 .45v-3.5l-5-.45zm5-.55V8l-5-.45v3.5l5 .45z"
                          clip-rule="evenodd"
                        ></path>
                        <path
                          fill="#E6A87C"
                          fill-rule="evenodd"
                          d="m5 19 22 2v7L5 26v-7z"
                          clip-rule="evenodd"
                        ></path>
                        <path
                          fill="#F1C8A3"
                          fill-rule="evenodd"
                          d="M5 3.45h5v16l-5 4v-20z"
                          clip-rule="evenodd"
                        ></path>
                      </svg> -->
                    </div>
                    <div class="header-upload-div">
                      <div class="header-upload-mainTitle">
                        거래 게시물 작성하기
                      </div>
                      <div class="header-upload-subTitle">
                        최고의 식물을 찾고 계신가요?
                      </div>
                    </div>
                  </a>
                  <a class="header-content-photo">
                    <div class="header-photo-div">
                      <img
                          src="{% static 'main/images/knowhow.png' %}"
                          width="36"
                          height="36"
                      />
                      <!-- <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path d="M0 0h36v36H0z"></path>
                          <path
                            fill="#EDEDED"
                            d="M17 10h2v22h-2z"
                          ></path>
                          <path
                            fill="#FFF"
                            d="M3 10.2c3.65-1.07 6.98-1.07 10 0h10.16c2.98-1 6.26-1 9.84 0v21c-5.79-1.62-10.79-1.29-15 1-4.21-2.37-9.21-2.7-15-1z"
                          ></path>
                          <path
                            fill="#EDEDED"
                            d="M16.5 15h3v16c-.66.8-1.16 1.2-1.5 1.2-.34 0-.84-.4-1.5-1.2V15z"
                          ></path>
                          <path
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 10.2c3.65-1.07 6.98-1.07 10 0h10.16c2.98-1 6.26-1 9.84 0h0v1.97h0V31.2c-5.79-1.62-10.79-1.29-15 1-4.21-2.37-9.21-2.7-15-1z"
                          ></path>
                          <g transform="translate(11 3)">
                            <path
                              fill="#FFDB92"
                              stroke="#000"
                              d="M7 0a7 7 0 0 1 3 13.33V17H4v-3.67A7 7 0 0 1 7 0z"
                            ></path>
                            <path
                              stroke="#000"
                              stroke-linecap="square"
                              d="M7 15.68V8.5"
                            ></path>
                            <circle
                              cx="7"
                              cy="7.5"
                              r="1.5"
                              fill="#000"
                            ></circle>
                            <path
                              fill="#FFF"
                              stroke="#000"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M3 16h8v7H3z"
                            ></path>
                            <path
                              stroke="#000"
                              stroke-linecap="square"
                              d="M3 18.5h8m-8 2h8"
                            ></path>
                          </g>
                        </g>
                      </svg> -->
                    </div>
                    <div class="header-upload-div">
                      <div class="header-upload-mainTitle">
                        노하우 게시물 작성하기
                      </div>
                      <div class="header-upload-subTitle">
                        초보부터 전문가까지, 홈가드닝의 모든 비법을
                        엿보다.
                      </div>
                    </div>
                  </a>
                  <a class="header-content-photo">
                    <div class="header-photo-div">
                      <img
                          src="{% static 'main/images/lectureReview.png' %}"
                          width="36"
                          height="36"
                      />
                      <!-- <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path d="M0 0h36v36H0z"></path>
                          <path
                            fill="#EDEDED"
                            d="M17 10h2v22h-2z"
                          ></path>
                          <path
                            fill="#FFF"
                            d="M3 10.2c3.65-1.07 6.98-1.07 10 0h10.16c2.98-1 6.26-1 9.84 0v21c-5.79-1.62-10.79-1.29-15 1-4.21-2.37-9.21-2.7-15-1z"
                          ></path>
                          <path
                            fill="#EDEDED"
                            d="M16.5 15h3v16c-.66.8-1.16 1.2-1.5 1.2-.34 0-.84-.4-1.5-1.2V15z"
                          ></path>
                          <path
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 10.2c3.65-1.07 6.98-1.07 10 0h10.16c2.98-1 6.26-1 9.84 0h0v1.97h0V31.2c-5.79-1.62-10.79-1.29-15 1-4.21-2.37-9.21-2.7-15-1z"
                          ></path>
                          <g transform="translate(11 3)">
                            <path
                              fill="#FFDB92"
                              stroke="#000"
                              d="M7 0a7 7 0 0 1 3 13.33V17H4v-3.67A7 7 0 0 1 7 0z"
                            ></path>
                            <path
                              stroke="#000"
                              stroke-linecap="square"
                              d="M7 15.68V8.5"
                            ></path>
                            <circle
                              cx="7"
                              cy="7.5"
                              r="1.5"
                              fill="#000"
                            ></circle>
                            <path
                              fill="#FFF"
                              stroke="#000"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M3 16h8v7H3z"
                            ></path>
                            <path
                              stroke="#000"
                              stroke-linecap="square"
                              d="M3 18.5h8m-8 2h8"
                            ></path>
                          </g>
                        </g>
                      </svg> -->
                    </div>
                    <div class="header-upload-div">
                      <div class="header-upload-mainTitle">
                        강의 리뷰 작성하기
                      </div>
                      <div class="header-upload-subTitle">
                        새로운 지식을 만나고 경험을 공유하세요.
                      </div>
                    </div>
                  </a>
                  <a class="header-content-photo">
                    <div class="header-photo-div">
                      <img
                          src="{% static 'main/images/transationReview.png' %}"
                          width="36"
                          height="36"
                      />
                      <!-- <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path d="M0 0h36v36H0z"></path>
                          <g
                            stroke-linejoin="round"
                            transform="translate(2 3)"
                          >
                            <rect
                              width="4"
                              height="8"
                              x="3"
                              y="21"
                              fill="#FFB787"
                              stroke="#000"
                              rx="2"
                            ></rect>
                            <rect
                              width="24"
                              height="25"
                              fill="#FFE2C7"
                              rx="3"
                            ></rect>
                            <rect
                              width="24"
                              height="25"
                              fill="#ffe2c7"
                              rx="3"
                            ></rect>
                            <rect
                              width="24"
                              height="25"
                              stroke="#000"
                              stroke-width="1.2"
                              rx="3"
                            ></rect>
                            <rect
                              width="6"
                              height="3"
                              x="9"
                              y="5"
                              fill="#DB9F77"
                              stroke="#FFF"
                              rx="1.5"
                            ></rect>
                            <rect
                              width="6"
                              height="3"
                              x="9"
                              y="17"
                              fill="#DB9F77"
                              stroke="#FFF"
                              rx="1.5"
                            ></rect>
                            <path
                              fill="#FFDB92"
                              stroke="#EDC29B"
                              d="M1.5 12.5h21"
                            ></path>
                          </g>
                          <path
                            fill="#35C5F0"
                            d="m26.25 31.53-3.7 1.32a1 1 0 0 1-1.34-.97l.1-3.93a.99.99 0 0 0-.2-.64l-2.4-3.11a1 1 0 0 1 .51-1.57l3.77-1.12a1 1 0 0 0 .55-.39l2.22-3.24a1 1 0 0 1 1.65 0l2.22 3.24a1 1 0 0 0 .55.4l3.77 1.1a1 1 0 0 1 .5 1.58l-2.4 3.11a1 1 0 0 0-.2.64l.11 3.93a1 1 0 0 1-1.33.97l-3.71-1.32a1 1 0 0 0-.67 0z"
                          ></path>
                          <path
                            fill="#9AE2F7"
                            d="M27.15 17.61a1 1 0 0 1 .26.26l2.22 3.25c.06.09.13.16.22.23l-8.59 8.58.06-1.98a.99.99 0 0 0-.21-.64l-2.4-3.11a1 1 0 0 1 .51-1.57l3.77-1.12a1 1 0 0 0 .55-.39l2.22-3.24a1 1 0 0 1 1.39-.26z"
                          ></path>
                          <path
                            stroke="#000"
                            stroke-width="1.2"
                            d="m26.29 30.85-3.31 1.17a.9.9 0 0 1-1.2-.86l.1-3.51c0-.2-.06-.4-.18-.57l-2.14-2.78a.9.9 0 0 1 .45-1.4l3.37-.99a.9.9 0 0 0 .48-.35l1.99-2.9a.9.9 0 0 1 1.47 0l1.99 2.9c.11.17.28.3.48.35l3.37 1a.9.9 0 0 1 .45 1.4l-2.14 2.77a.89.89 0 0 0-.18.57l.1 3.5a.9.9 0 0 1-1.2.87l-3.3-1.17a.9.9 0 0 0-.6 0z"
                          ></path>
                        </g>
                      </svg> -->
                    </div>
                    <div class="header-upload-div">
                      <div class="header-upload-mainTitle">
                        상품 리뷰 작성하기
                      </div>
                      <div class="header-upload-subTitle">
                        상품 리뷰를 작성하고 포인트도 받아보세요.
                      </div>
                    </div>
                  </a>
                  <a class="header-content-photo">
                    <div class="header-photo-div">
                      <img
                          {#                        src="../../../staticfiles/images/main/lecture.png"#}
                          src="{% static 'main/images/lecture.png' %}"
                          width="36"
                          height="36"
                      />
                      <!-- <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="36"
                        height="36"
                      >
                        <g fill="none" fill-rule="evenodd">
                          <path d="M0 0h36v36H0z"></path>
                          <path
                            fill="#FFDB92"
                            d="M13.75 3.52h1.9a8.1 8.1 0 0 1 8.1 8.1v1.9H5.65v-1.9a8.1 8.1 0 0 1 8.1-8.1z"
                          ></path>
                          <path fill="#FFDB92" d="M12 3h5v2h-5z"></path>
                          <path
                            fill="#FFF"
                            d="M12.2 23.92h5.4a7.2 7.2 0 0 1 7.2 7.2v2.8H5v-2.8a7.2 7.2 0 0 1 7.2-7.2z"
                          ></path>
                          <path
                            fill="#EDEDED"
                            fill-opacity="0.14"
                            d="M17.6 23.92c1.2 0 2.33.3 3.32.8a10.84 10.84 0 0 1-6.19 1.78c-2.28 0-4.38-.57-6.04-1.67a7.15 7.15 0 0 1 3.51-.91h5.4z"
                          ></path>
                          <path
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M5 33.59V30.9a6.59 6.59 0 0 1 5.47-6.37M10.64 24.6v3.19"
                          ></path>
                          <path
                            fill="#B1C0CB"
                            fill-rule="nonzero"
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m8.9 33.92.98-6H21.9l.98 6"
                          ></path>
                          <path
                            fill="#FFF6E6"
                            fill-rule="nonzero"
                            d="M22.04 14.29c.31.9.48 2.3.48 3.31 0 4.65-3.49 7.2-7.79 7.2s-7.78-2.55-7.78-7.2c0-1.02.17-2.4.48-3.31"
                          ></path>
                          <path
                            fill="#EDE2CD"
                            fill-rule="nonzero"
                            d="M22.04 14.29c.16.48.29 1.09.37 1.71H7.06c.08-.62.2-1.23.37-1.71h14.6z"
                          ></path>
                          <path
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M22.04 14.29c.31.9.48 2.3.48 3.31 0 4.65-3.49 7.2-7.79 7.2s-7.78-2.55-7.78-7.2c0-1.02.17-2.4.48-3.31"
                          ></path>
                          <path
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M16.29 20.9c-.23.46-.84.79-1.56.79-.72 0-1.33-.33-1.56-.78"
                          ></path>
                          <path
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.3"
                            d="M12 17.55V17m5.46.55V17"
                          ></path>
                          <path
                            fill="#EFC570"
                            d="m9.5 5 2.88 4.72v-5.9zm10.44 0-2.89 4.72v-5.9z"
                          ></path>
                          <g stroke="#000" stroke-linecap="round">
                            <path
                              stroke-linejoin="round"
                              d="M5.75 11.76c0-4.08 2.9-7.45 6.63-7.94v-.3c0-.55.43-1 .95-1h2.84c.53 0 .95.45.95 1v.3c3.74.5 6.63 3.86 6.63 7.94"
                            ></path>
                            <path
                              d="M12.38 5.52v-2c0-.55.43-1 .95-1h2.84c.53 0 .95.45.95 1v2"
                            ></path>
                            <path
                              fill="#F5F5F5"
                              fill-rule="nonzero"
                              d="M4.2 14.02h20.7"
                            ></path>
                          </g>
                          <path
                            fill="#35C5F0"
                            d="m26.25 33.1-3.71 1.31a1 1 0 0 1-1.34-.97l.11-3.93a.99.99 0 0 0-.2-.64l-2.4-3.11a1 1 0 0 1 .5-1.57L23 23.07a1 1 0 0 0 .54-.39l2.23-3.24a1 1 0 0 1 1.65 0l2.22 3.24a1 1 0 0 0 .54.4l3.78 1.1a1 1 0 0 1 .5 1.58l-2.4 3.11a1 1 0 0 0-.2.64l.1 3.93a1 1 0 0 1-1.33.97l-3.7-1.32a1 1 0 0 0-.67 0z"
                          ></path>
                          <path
                            fill="#9AE2F7"
                            d="M27.15 19.18a1 1 0 0 1 .26.26l2.22 3.24c.06.09.13.16.21.23l-8.58 8.58.05-1.98a.99.99 0 0 0-.2-.64l-2.4-3.11a1 1 0 0 1 .5-1.57L23 23.07a1 1 0 0 0 .54-.39l2.23-3.24a1 1 0 0 1 1.39-.26z"
                          ></path>
                          <path
                            stroke="#000"
                            d="m26.25 33.1-3.71 1.31a1 1 0 0 1-1.34-.97l.11-3.93a.99.99 0 0 0-.2-.64l-2.4-3.11a1 1 0 0 1 .5-1.57L23 23.07a1 1 0 0 0 .54-.39l2.23-3.24a1 1 0 0 1 1.65 0l2.22 3.24a1 1 0 0 0 .54.4l3.78 1.1a1 1 0 0 1 .5 1.58l-2.4 3.11a1 1 0 0 0-.2.64l.1 3.93a1 1 0 0 1-1.33.97l-3.7-1.32a1 1 0 0 0-.67 0z"
                          ></path>
                        </g>
                      </svg> -->
                    </div>
                    <div class="header-upload-div">
                      <div class="header-upload-mainTitle">
                        강의 시작하기
                      </div>
                      <div class="header-upload-subTitle">
                        신록의 세계로 여행을 떠나세요, 홈가드닝 강의
                        시작!
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<script src="{% static 'public/web/js/fix/search-module.js' %}"></script>
<script src="{% static 'public/web/js/fix/header.js' %}"></script>