{% extends 'manager/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'qna/css/manager-qna-compose.css' %}">
{% endblock %}
{% block title %}QnA 작성{% endblock %}
{% block content %}
  <body class="overflow-hidden">
    <div class="next">
      <div class="full-screen">
        {% include 'manager/fix/manager-header.html' %}
        <form action="{% url 'qna-write' %}" method="post" name="qna-write-form">
          {% csrf_token %}
          <div class="compose-wrap">
            <div class="compose-container">
              <div class="compose-inner-left">
                <a class="compose-inner-left" href="/service-admin/qna/">
                  <svg
                    class="compose-inner-left"
                    viewBox="0 0 17 16"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.833 8a.667.667 0 0 0-.666-.667H5.72L8.973 4.08a.667.667 0 1 0-.943-.943L3.167 8l4.863 4.863a.665.665 0 0 0 .94-.94L5.72 8.667h7.447A.667.667 0 0 0 13.833 8Z"
                    ></path>
                  </svg>
                </a>
                <h1 class="compose-inner-left">QnA 작성하기</h1>
              </div>
              <div class="compose-inner-right">
                <div class="compose-temporary-storage">
{#                  <button#}
{#                    class="compose-temporary-storage"#}
{#                    aria-label="button"#}
{#                    type="button"#}
{#                    disabled="disabled"#}
{#                  >#}
{#                    임시저장#}
{#                  </button>#}
                  <!-- 임시저장 저장됨으로 바뀜 -->
                  <button
                    class="button-saved-wrap"
                    aria-label="button"
                    type="button"
                    disabled
                  >
                    <div class="button-saved-container">
                      <svg
                        class="button-saved-inner"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M19.702 7.288a1 1 0 0 1 .01 1.414l-8.59 8.723-5.834-5.923a1 1 0 0 1 1.424-1.404l4.41 4.477 7.166-7.277a1 1 0 0 1 1.414-.01Z"
                        ></path>
                      </svg>
                      <span class="button-saved-container">저장됨</span>
                    </div>
                  </button>
                </div>
                <div>
                  <button
                    class="compose-storage"
                    aria-label="button"
                    disabled="disabled"
                  >
                    게시
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="main-compose-wrap">
            <div class="main-compose-container">
              <div class="main-compose-inner">
                <div class="compose-title">
                  <div>
                    <label class="compose-title">
                      <input
                        type="text"
                        class="compose-title"
                        placeholder="제목을 입력해주세요."
                        name="qna-title"
                        maxlength="30"
                      />
                    </label>
                  </div>
                </div>
                <label class="compose-content">
                  <textarea
                    class="compose-content"
                    placeholder="콘텐츠를 작성해주세요."
                    name="qna-content"
                  ></textarea>
                </label>
                <div class="compose-content-bottom">0자</div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
{% endblock %}
{% block js %}
  <script src="{% static 'qna/js/manager-qna-compose.js' %}"></script>
{% endblock %}
