{% extends 'member/mypage/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'member/css/mypage/my-classes/student-list.css' %}">
{% endblock %}
{% block title %}Selleaf | 수강생 목록{% endblock %}
{% block content %}
    <div class="layout">
      <header></header>
      <!-- 전체 목록 -->
      <div class="notice-container">
        <div style="display: flex; justify-content: space-between">
          <h1 class="notice-title">수강생 목록</h1>
          <!-- 검색창 -->
          <div class="header-fourth-inner-firstdiv">
              <div id="global-search-combobox" role="combobox" aria-expanded="false" aria-haspopup="listbox" class="header-fourth-inner-seconddiv">
                <div class="header-fourth-inner-thirddiv" style="border: 1px solid rgb(218, 221, 224);">
                  <span class="hearder-inner-thirddiv-span"> </span>
                  <form action="/search/" name="search-form" style="flex:1; position: relative">
                    <input type="text" placeholder="수강생 검색" autocomplete="off" aria-autocomplete="list" class="hearder-inner-thirddiv-input" name="query">

                  </form>
                  <div class="hearder-inner-thirddiv-div" style="display: none;">
                    <button type="button" tabindex="0" class="header-input-xbutton">
                      <span class="header-input-xbutton-span"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="notice-wrap">
          <!--  -->
          <section>
            <!-- 각 컬럼 제목 -->
            <div>
              <div class="student-list-title-wrap">
                <div class="list-titles">대표 예약자명</div>
                <div class="list-titles">연락처</div>
                <div class="list-titles">총 수강 인원</div>
                <div class="list-titles">수강 날짜</div>
                <div class="list-titles">수강 시간</div>
                <div class="list-titles">
                  선택 키트
                </div>
              </div>
            </div>
            <div class="here"></div>
          </section>

        </div>
      </div>
    </div>
{% endblock %}
{% block js %}
  <script>
    applyID = '{{apply_id}}'
    csrf_token = '{{ csrf_token }}'
  </script>
  <script src="{% static 'member/js/mypage/my-classes/myclass-module.js' %}"></script>
  <script src="{% static 'member/js/mypage/my-classes/student-list.js' %}"></script>
{% endblock %}
