{% extends 'member/mypage/base.html' %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'member/css/mypage/my_profile/see-all.css' %}">
{% endblock %}
{% block title %}Selleaf | 마이페이지에 오신 것을 환영합니다.{% endblock %}
{% block content %}
    <form action="">
      {% csrf_token %}
        <div class="whole-page-wrap">
          <div class="whole-page-container">
            <div class="main-wrap">
              <!-- 마이페이지 내 네비게이션 바 -->
              <div class="navigation-wrap">
                <div class="main-category-wrap">
                  <ul
                    class="main-category-container"
                    style="transform: translateX(0px)"
                  >
                    <li class="main-category-item">
                      <a href="/member/mypage/show/" class="active">내 활동</a>
                    </li>
                    <li class="main-category-item">
                      <a href="/member/mypage/trades/">거래 내역</a>
                    </li>
                    <li class="main-category-item">
                      <a href="/member/mypage/lectures/" >수강 내역</a>
                    </li>
                    {% if teacher.count == 0 %}
                        <li class="main-category-item">
                          <a href="/member/mypage/settings/">설정</a>
                        </li>
                    {% else %}
                        <li class="main-category-item ">
                          <a href="/member/mypage/teachers/">강의 현황</a>
                        </li>
                        <li class="main-category-item">
                          <a href="/member/mypage/settings/">설정</a>
                        </li>
                    {% endif %}
                  </ul>
                </div>
                <div class="sub-category-wrap">
                  <ul
                    class="sub-category-container"
                    style="transform: translateX(0px)"
                  >
                    <li class="sub-category-item">
                      <a href="/member/mypage/show" class="active">모두보기</a>
                    </li>
                    <li class="sub-category-item">
                      <a href="/member/mypage/posts/">내 게시글</a>
                    </li>
                    <li class="sub-category-item">
                      <a href="/member/mypage/replies">내 댓글</a>
                    </li>
                    <li class="sub-category-item">
                      <a href="/member/mypage/reviews">내 리뷰</a>
                    </li>
                    <li class="sub-category-item">
                      <a href="/member/mypage/likes">좋아요</a>
                    </li>
                    <li class="sub-category-item">
                      <a href="/member/mypage/scraplectures">스크랩북</a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- 마이페이지 내 탭 별 내용 - 이 탭은 모두보기 -->
              <div class="content-wrap">
                <div class="content-container">
                  <div class="sidebar-wrap">
                        <div
                          class="sidebar-container"
                          style="
                            position: sticky;
                            top: 80.75px;
                            transition: top 0.1s ease 0s;
                          "
                        >
                          <div class="sidebar-content" style="position: relative">
                            <div>
                              <div class="my-info-wrap">
                                <div class="my-profile-wrap">
                                  <div class="profile-image-wrap">
                                    {% if memberProfile %}
                                      {% if 'http' in memberProfile %}
                                         <img src="{{ memberProfile }}" alt="" class="current-profile-image">
                                      {% else %}
                                         <img src="/upload/{{ memberProfile }}" alt="" class="current-profile-image">
                                      {% endif %}
                                    {% else %}
                                      <img src="{% static 'member/images/mypage/base-profile-image.avif' %}" alt="" class="current-profile-image">
                                    {% endif %}
                                  </div>
                                  <div class="personal-info-wrap">
                                    <div class="user-nickname">{{ request.session.member.member_name }}</div>
                                    <div class="follow-settings-wrap">
                                      <!-- 나중에 설정 페이지랑 연결 -->
                                      <div class="settings-button-wrap">
                                        <a class="settings-button" href="/member/mypage/settings/">설정</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- 스크랩, 좋아요, 마일리지, 쿠폰 -->
                                <div class="scraps-likes-wrap">
                                  <div class="scraps-likes-container">
                                    <!-- 스크랩 -->
                                    <a class="scraps-likes-content-wrap" href="/member/mypage/scraplectures/">
                                      <div class="scraps-likes-icon">
                                        <img alt=""
                                          src="{% static 'public/web/images/common/scrap-off-blk.png' %}
        "
                                        />
                                      </div>
                                      <div class="scraps-likes-text">스크랩북</div>
                                      <div class="scraps-likes-count">{{ scrap_count }}</div>
                                    </a>
                                    <!-- 좋아요 -->
                                    <a class="scraps-likes-content-wrap" href="/member/mypage/likes/">
                                      <div class="scraps-likes-icon">
                                        <img alt="" src="{% static 'public/web/images/common/like-off.png' %}" />
                                      </div>
                                      <div class="scraps-likes-text">좋아요</div>
                                      <div class="scraps-likes-count">{{ like_count }}</div>
                                    </a>
                                    <!-- 마일리지 -->
                                    <div class="scraps-likes-content-wrap">
                                      <div class="scraps-likes-icon">
                                        <img alt=""
                                          src="{% static 'member/images/mypage/mileage.png' %}"
                                        />
                                      </div>
                                      <div class="scraps-likes-text">마일리지</div>
                                      <div class="scraps-likes-count">{{ mileage }}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <div class="seperator-wrap">
                    <div class="content-seperator"></div>
                  </div>
                  <!-- 게시글 등의 내용물이 표시되는 공간 -->
                  <div class="main-content-wrap">
                    <div class="main-content-cotainer">
                      <div class="main-content-area">
                        <!-- 게시글 -->
                        <div class="content-section-wrap">
                          <div class="content-title-wrap">
                            <h1 class="content-title">
                              게시글
                              <span class="content-count post-count">{{ post_count }}</span>
                            </h1>
                            <div class="title-empty-area"></div>
                          </div>
                          {% if post_count == 0 %}
                              <a class="photo-upload-wrap no-posts" href="/post/create/" style="cursor: pointer">
                                <img alt=""
                                    class="add-icon"
                                    src="{% static 'member/images/mypage/add-icon.svg' %}"
                                />
                                첫 번째 게시글을 올려보세요
                              </a>
                              <div class="post-wrap">
                              </div>
                          {% else %}  
                              <div class="post-wrap">
                              </div>
                              <a href="/member/mypage/posts/">
                                 <div class="more">
                                    더보기
                                 </div>
                              </a>
                          {% endif %}

                        </div>

                        <!-- 리뷰 -->
                        <div class="content-section-wrap">
                          <div class="content-title-wrap">
                            <h1 class="content-title">
                              리뷰
                              <span class="content-count review-count">{{ lecture_review.count }}</span>
                            </h1>
                            <div class="title-empty-area"></div>
                          </div>
                          <!-- 리뷰 없을 때 표시 -->
                          {% if lecture_review.count == 0 %}
                              <a class="photo-upload-wrap no-reviews" href="/member/mypage/lectures/">
                                  <img alt=""
                                    class="add-icon"
                                    src="{% static 'member/images/mypage/add-icon.svg' %}"
                                  />
                                  첫 번째 리뷰를 올려보세요
                              </a>
                          {% else %}
                              <div class="here">
                              </div>
                              <a href="/member/mypage/reviews/">
                                 <div class="more">
                                    더보기
                                 </div>
                              </a>
                          {% endif %}  
                          <!-- 리뷰 있을 때 표시 -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </form>
{% endblock %}
{% block js %}
  <script>
    const memberId = {{ member.id }}
  </script>
  <script src="{% static 'member/js/mypage/my_profile/myprofile-module.js' %}"></script>
  <script src="{% static 'member/js/mypage/my_profile/see-all.js' %}"></script>
{% endblock %}
